<div class="l-dashboard-sort">
  <span>Sort by: </span>
  <input type="radio" name="sortBy" id="name">
  <label for="name">Name</label>
  <input type="radio" name="sortBy" id="date">
  <label for="date">Date</label>
</div>
