<div id="dashboard" class="l-dashboard">
  <div class="m-dashboard-header">
    <h1>Projects</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias ipsa ea sint, dignissimos optio quos enim ex nisi molestiae consectetur.</p>
  </div>

  <div id="dashboardCounter"></div>

  <div id="dashboardFilters"></div>
  
  <div id="dashboardSorting"></div>
  
  <div id="dashboardList"></div>

</div>

<div id="map" class="l-map"></div>
